body {
    font-family: Poppins, sans-serif;
    background: #f8f9fa;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 600;
}

.alphabet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

.letter-box {
    background: white;
    border-radius: 10px;
    padding: 25px 0;
    font-size: 30px;
    cursor: pointer;
    transition: .4s;
    border: 2px solid #333;
}

.letter-box:hover {
    background: #c87833;
    transform: scale(1.15);
}

/* Popup Styling */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    animation: fadeIn .4s ease;
}

@keyframes fadeIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.popup img {
    width: 320px;
    border-radius: 10px;
    margin-top: 15px;
}

.close {
    float: right;
    font-size: 30px;
    cursor: pointer;
}
